html, body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: var(--font-size);
  font-family: 'Rubik', var(--fallback-font); 
}
* { box-sizing: border-box; }
body { 
  background-color: rgba(0, 0, 0, 0.01);
  color: var(--font-color);
  overflow-x: hidden;
}
