@mixin mobile-screen {
  @media screen and (max-width: 850px) {
    @content;
  }
}
@mixin tablet-screen {
  @media screen and (max-width: 1150px) {
    @content;
  }
}
@mixin not-mobile-screen {
  @media screen and (min-width: 850px) {
    @content;
  }
}

// variables
:root {
  --fallback-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-size: 19px;

  @include mobile-screen {
    --font-size: 16px;
  }

  --main-padding: 1em;
  --medium-padding: 0.5em;
  --dense-padding: 0.3em;
  --extra-padding: 1.3em;

  --side-padding: 20%;
  @include tablet-screen { --side-padding: 5%; }

  --action-color: #3f51bf;

  --border-radius: 9px;
}
